[Unit]
Description=Flask Alert Middleware
After=network.target

[Service]
User=root
WorkingDirectory=/opt/alert_middleware
ExecStart=/usr/bin/python3 -u /opt/alert_middleware/app.py
Restart=always

[Install]
WantedBy=multi-user.target
